<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>First app</title>
</head>

<body>
  {% from "_formhelpers.html" import render_field %}

  <div>What's your name?</div>
  <form method=post action="/hello">

    <dl>
      {{ render_field(form.sayhello) }}
    </dl>

    <input type=submit value='Say Hello' name='submit_btn'>

  </form>

</body>

</html>